/* 
#3282F7 -bleu
#68D9A4 -vert
#ED6454 -rouge 
#E7E7E7 -gris clair search_bar et recept
#C7BEBE -gris foncé emplacement photo

*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

li{
list-style: none;
cursor:pointer;
}

.container_page{
    margin: 30px 7% 30px 7%;
}

.header_page {
    height: 120px;
    padding-bottom: 30px;
}    

.header_page h1 {
    padding-top: 15px;
}

.input_search_bar {
    background-color: #E7E7E7;
}

fieldset:nth-child(1) .form-control::placeholder {
    font-size: 0.95rem;
    color: #000;
}

.fieldsetTag{
    margin: 0;
}

.boxresults .form-control::placeholder {
    font-size: 0.95rem;
    color: #fff;
}

.boxresults input{
    color: #fff;
}

.input_search_bar i{
    color: #000;
}
.tagChoice_box{
    height: 30px;
}

.tagChoice{
    border-radius: 5px;
    color: #fff;
    margin-right: 15px;
    justify-content: space-around;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}
.research-tag .tag-item .text {
    padding: 10px;
}
.tagChoice img {
    padding: 10px 10px 10px 10px;
}


fieldset:nth-child(2) {
    margin-left: 0;
    padding: 0;
    position:absolute;
}

fieldset:nth-child(2) .form-control::placeholder{
    color: #fff;
}

.input-group{
margin-left:0;
}

.boxresults{
    /* min-width: 170px;
    min-height: 70px; */
    margin-right: 40px;
    position: relative; 
    z-index:99;
}

/* 
fieldset:nth-child(2) input,
fieldset:nth-child(2) i{ 
   
} */

.search_ingredients input:focus-visible,
.search_ingredients input,
.search_ingredients{
    background-color: #3282F7;
    
}

.boxresultIngredients{
    background-color: #3282F7;
}
.boxresultAppliance ul{
    background-color: #68D9A4;
    padding:0;
}
.boxresultUstensils ul{
    background-color:#ED6454;
    padding:0;
}

.search_appareils input:focus-visible,
.search_appareils input,
.search_appareils{
    background-color: #68D9A4;
    
}

.search_ustensils input:focus-visible,
.search_ustensils input,
.search_ustensils{
    background-color: #ED6454;
    border: #ED6454;
    
}

.search_ingredients,
.search_ustensils,
.search_appareils{
    /* width: 100%; */
    min-width: 170px;
    min-height: 70px;
    margin-right: 40px;
} 

.boxresultIngredients ul{
    padding:0;
    height: auto;
   display: flex;
   flex-wrap: wrap;
    width: 700px;
}

.ingredientsUl{
    background-color: #3282F7;
}

.applianceUl{
    background-color: #68D9A4;
}

.ustensilsUl{
    background-color: #ED6454;
}
.tagChoice{
    margin-bottom: 15px;
}
.tagChoice .textTag{
    padding: 10px 5px;
}
.tagChoice img{
    width: 35px; 
}
.boxresultIngredients li{
    width: 30%;
}
.boxresultsUstensils li{
    width: 100%;
}
.boxresultsAppliance li{
    width: 100%;
}

.boxresults{
    margin-left:0;
    margin-right: 20px;
}

.div_box_recipes{
    padding: 0;
    /* margin: 0 -15px 0 -15px; */
}

#box_recipes{
 margin-top:130px;
    padding: 0;
}

.norecipe{
    background-color: #ea6f61;
    margin : auto;
    padding: 30px;
    font-size: 1.2rem;
    color: #fff;
}

.card-deck .card{
    height: 364px; 
    min-width: 380px; 
    padding: 0;
    /* margin:-15px; */
    /* border: 1px solid #000; */
    border-radius: 10px 10px;
    margin-bottom: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.card .card-img-top{
    background-color: #C7BEBE;
    height: 178px;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card header{
    border : none;
    background: #fff;
} 

.card h3{
    font-size: 1.1rem;
    margin: 0;
    display: block;
    width: calc(100% - 50);
}

.cardTime{
    min-width: 55px;
}

.cardTime img{
    padding-bottom: 3px;
}

.card_textContent {
    width: 100%;
    font-size: 0.75rem;
    /* padding: 0 20px 10px 20px; */
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin : 0;
    text-overflow: ellipsis;
}

.card ul{
    padding: 0;
    padding: 0 10px 0 10px;
    width: 100%;
}
.card li{
    list-style: none;
    width: 100%;
}

#card_description{
    padding-left: 0;
   
} 

.card a{
    width:100%;
    height: 100%;
    color: #000;
}

#card_description p {
display: inline-block;
text-overflow: ellipsis;
}

