/* 
#3282F7 -bleu
#68D9A4 -vert
#ED6454 -rouge 
#E7E7E7 -gris clair search_bar et recept
#C7BEBE -gris foncé emplacement photo

*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

li{
list-style: none;
cursor:pointer;
}

.container_page{
    margin: 30px 7% 30px 7%;
}

.header_page {
    height: 120px;
    padding-bottom: 30px;
}    

.header_page h1 {
    padding-top: 15px;
}

.input_search_bar {
    background-color: #E7E7E7;
}

fieldset:nth-child(1) .form-control::placeholder {
    font-size: 0.95rem;
    color: #000;
}

.fieldsetTag{
    margin: 0;
}

.boxresults .form-control::placeholder {
    font-size: 0.95rem;
    color: #fff;
}

.boxresults input{
    color: #fff;
    width: 100%;
}

.input_search_bar i{
    color: #000;
}
.tagChoice_box{
    height: 30px;
}

.tagChoice{
    border-radius: 5px;
    color: #fff;
    margin-right: 15px;
    justify-content: space-around;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}
.research-tag .tag-item .text {
    padding: 10px;
}
.tagChoice img {
    padding: 10px 10px 10px 10px;
}

.input-group{
margin-left:0;
}
.fieldsetTag{
    position:relative;
    display: flex;
}

.boxresults{
    min-width: 200px;
    min-height: 70px;  
    margin-right: 60px;
    padding: 0;
    margin-left:0;
}

.boxresultIngredients{
    width: 600px;
}
 
.boxresultAppliance{
  width: 200px;
}
.boxresultsUstensils{
   width: 200px;
} 


/* 
fieldset:nth-child(2) input,
fieldset:nth-child(2) i{ 
   
} */

.search_ingredients input:focus-visible,
.search_ingredients input,
.search_ingredients{
    background-color: #3282F7;
    
}

.boxresultIngredients ul{
    background-color: #3282F7;
    position: absolute;  
    z-index:99; 
    width: auto; 
   
}
.boxresultAppliance ul{
    background-color: #68D9A4;
    padding:0;
    width: 200px;  
    /* width: auto; */
    position: absolute;  
    z-index:99;

}
.boxresultUstensils ul{
    background-color:#ED6454;
    padding:0;
    position: absolute;  
    z-index:99;   
    width: 200px;
    /* width: auto; */
}

.search_appareils input:focus-visible,
.search_appareils input,
.search_appareils{
    background-color: #68D9A4;
    
}

.search_ustensils input:focus-visible,
.search_ustensils input,
.search_ustensils{
    background-color: #ED6454;
    border: #ED6454;
    
}

.search_ingredients,
.search_ustensils,
.search_appareils{
    height: 70px;
} 
.search_ustensils,
.search_appareils{
    width: 200px;
}
/* .search_ingredients{
    width: 600px;
} */
.boxresultIngredients ul{
    padding:0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px; 
}

/* tag */
.ingredientsUl{
    background-color: #3282F7;
}

.applianceUl{
    background-color: #68D9A4;
}

.ustensilsUl{
    background-color: #ED6454;
}
/**/

.tagChoice{
    margin-bottom: 15px;
}
.tagChoice .textTag{
    padding: 15px 20px;
}
.tagChoice img{
    width: 40px;
    padding-right: 15px; 
}
.boxresultIngredients li{
    width: 30%;
}
.boxresultsUstensils li{
    width: 100%;
}
.boxresultsAppliance li{
    width: 100%;
}


.div_box_recipes{
    padding: 0;
    /* margin: 0 -15px 0 -15px; */
}

#box_recipes{
 margin-top:130px;
    padding: 0;
}

.norecipe{
    background-color: #ea6f61;
    margin : auto;
    padding: 30px;
    font-size: 1.2rem;
    color: #fff;
}

.card-deck .card{
    /* height: 364px;  */
    height: 380px; 
    min-width: 380px; 
    padding: 0;
    /* margin:-15px; */
    /* border: 1px solid #000; */
    border-radius: 10px 10px;
    margin-bottom: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.card .card-img-top{
    background-color: #C7BEBE;
    height: 178px;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card header{
    border : none;
    background: #fff;
} 

.card h2{
    font-size: 1.1rem;
    margin: 0;
    display: block;
    width: calc(100% - 50);
}

.cardTime{
    min-width: 55px;
}

.cardTime img{
    padding-bottom: 3px;
}

.card_textContent {
    width: 100%;
    font-size: 0.75rem;
    /* padding: 0 20px 10px 20px; */
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin : 0; 
}
/* #box_recipes .cardText {
    height: 10px;
    text-overflow: ellipsis;
} */

.card ul{
    padding: 0;
    padding: 0 10px 0 10px;
    width: 100%;
}
.card li{
    list-style: none;
    width: 100%;
}

#card_description{
    padding-left: 0;
} 

#card_description p {
display: inline-block;
}

#modal{
    display:none;   
    position :fixed;
    background-color: #ea6f61;
    background-color: #fff;
    z-index :130;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
} 
#modal header {
    margin-top: 20px;
}

#modal header h2 {
    font-size: 2.4rem;
} 

#modal .card header {
    margin-bottom: 15px;
    height: 70px;
}
#modal .card .card_textContent{
    font-size: 1.2rem;
    /* padding-left: 60px; */
}
#modal .card .cardTime{
    min-width: 200px;
    font-size: 1.5rem;
}

#modal .card .cardTime i{
    margin-right: 10px;
}

#modal button{
    color: #ea6f61;
    background-color: #fff;
    position:absolute;
    right: 5.4%;
    height: 100px;
    top: 20px; 
    width: 8vw;
    border : none;
    font-size: 3.3rem;
    z-index: 150;
}

#modal .btn_closeModal i{
    font-size: 40px;
    padding:10px;
}

#modal .card{
    width: 100%;
    height:  95%;
    border-radius: 15px 15px 0 0;
}
#modal .card .cardText{
    padding-left: 30px;
    padding-right: 30px;
}

#modal .card img{
    width: 100%;
    height: 25%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
